
/*

TemplateMo 581 Kind Heart Charity

https://templatemo.com/tm-581-kind-heart-charity

*/



@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'),
        url('../fonts/Metropolis/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis/Metropolis-Light.woff2') format('woff2'),
        url('../fonts/Metropolis/Metropolis-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis/Metropolis-SemiBold.woff2') format('woff2'),
        url('../fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('../fonts/Metropolis/Metropolis-Bold.woff2') format('woff2'),
        url('../fonts/Metropolis/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

/*---------------------------------------
  CUSTOM PROPERTIES ( VARIABLES )             
-----------------------------------------*/
:root {
  --white-color:                  #ffffff;
  --primary-color:                #295e15;
  --secondary-color:              #1a2a56;
  --section-bg-color:             #f0f8ff;
  --site-footer-bg-color:         #44525d;
  --custom-btn-bg-color:          #597081;
  --custom-btn-bg-hover-color: #295e15;
  --dark-color:                   #000000;
  --p-color: #1a2a56;
  --border-color:                 #e9eaeb;

  --body-font-family:             'Metropolis', sans-serif;

  --h1-font-size:                 52px;
  --h2-font-size:                 46px;
  --h3-font-size:                 32px;
  --h4-font-size:                 28px;
  --h5-font-size:                 24px;
  --h6-font-size:                 22px;
  --p-font-size:                  16px;
  --btn-font-size:                18px;
  --copyright-font-size:          14px;

  --border-radius-large:          100px;
  --border-radius-medium:         20px;
  --border-radius-small:          10px;

  --bs-card-border-radius:        20px;
  --bs-card-inner-border-radius:  20px;
  --x: 0px;
  --y: 0px;


  --font-weight-light:            300;
  --font-weight-normal:           400;
  --font-weight-semibold:         600;
  --font-weight-bold:             700;
  --circle-diameter:            300px;

}

body {
  font-family: var(--body-font-family);
}

.hidden{}

/*---------------------------------------
  TYPOGRAPHY               
-----------------------------------------*/

h2,
h3,
h4,
h5,
h6 {
  color: var(--dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: var(--font-weight-semibold);
  letter-spacing: -1px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--font-weight-bold);
  letter-spacing: -2px;
}

h2 {
  color: var(--secondary-color);
  font-size: var(--h2-font-size);
  letter-spacing: -2px;
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

h5 {
  color: var(--primary-color);
  font-size: var(--h5-font-size);
}

h6 {
  font-size: var(--h6-font-size);
}

p {
  color: var(--p-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-light);
}



/*---------------------------------------
  Laadscherm
-----------------------------------------*/

#loading-screen {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  animation: rotator 1.4s linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: 187;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation: dash 1.4s ease-in-out infinite, colors 5.6s ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: 187; }
  50% {
    stroke-dashoffset: 46.75;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: 187;
    transform:rotate(450deg);
  }
}
.checkmark {
  width: 52px;
  height: 52px;
  display: none; /* Verberg de checkmark totdat de pagina is geladen */
}

.checkmark__check {
  stroke-dasharray: 50;
  stroke-dashoffset: 50;
  stroke-width: 3;
  stroke: #78C800;
  fill: none;
  animation: checkmark 0.6s ease-in-out;
}

@keyframes checkmark {
  0% {
    stroke-dashoffset: 50;
    opacity: 1;
  }
  20% {
    stroke-dashoffset: 31;
    opacity: 1;
  }
  40% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
  100% {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}

/*---------------------------------------
  SECTION
-----------------------------------------*/
.section-padding {
  padding-top: 100px;
  padding-bottom: 100px;
}

.section-bg {
  background-color: var(--section-bg-color);
}


.section-overlay + .container {
  position: relative;
}

/*---------------------------------------
  SITE HEADER
-----------------------------------------*/
.follow {
  padding: 0.5rem 1rem;
  background: hsl(210 80% 60%);
  border-radius: 5rem;
  color: white;
  font-weight: 400;
  text-decoration-line: none;
  z-index: 3;
  position: fixed; /* Zorgt ervoor dat de knop op een vaste positie blijft */
  right: 20px; /* Plaats de knop 10px van de rechterkant van het scherm */
  top: 20px; /* Plaats de knop 10px van de bovenkant van het scherm */
}

/*---------------------------------------
  CUSTOM LIST
-----------------------------------------*/
.custom-list {
  margin-bottom: 0;
  padding-left: 0;
}

.custom-list-item {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
}


/*---------------------------------------
  CUSTOM TEXT BOX               
-----------------------------------------*/
.custom-text-box {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 24px;
  margin-top: 15px;
  padding: 40px;
}



.custom-text-box-image {
  border-radius: var(--border-radius-medium);
  padding: 15px;

}

@media screen and (max-width: 600px) {
  .custom-text-box-image {
    padding: 5px;
  }

  .custom-text-box{
    padding: 20px;
    margin: 5px;

  }
}

.img-fluid.w-100 {
  border-radius: 15px;
}


.custom-text-box-icon {
  background: var(--section-bg-color);
  border-radius: var(--border-radius-large);
  color: var(--secondary-color);
  font-size: var(--h6-font-size);

  text-align: center;
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  line-height: 30px;
}


/*---------------------------------------
LOGIN FORM
-----------------------------------------*/

#loginForm {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #f0f0f0;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  overflow: auto;
}
.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}

.form-signin .form-control:focus {
  z-index: 2;
}

.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  margin-top: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Pas de marge aan voor schermen kleiner dan 600px */
@media screen and (max-width: 600px) {
  #loginForm {
    width: 90%;
    padding: 5px;
  }
}
/*---------------------------------------
  HERO & HERO SLIDE         
-----------------------------------------*/


.hero-section {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: url('../images/scouts/hero.jpg') no-repeat center center;
  background-size: cover;

  z-index: 1;
  display: flex;
  align-items: center;
justify-content: center;

}
.hero-section::before {
  content: "";
  position: absolute;
  left : -20px;
  width: 110%;
  height: 110%;
  background: inherit;
  filter: blur(3px) brightness(0.4);
  z-index: -1;
}

.hero-section-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: block;

}

.hero-title, .hero-subtitle {
  letter-spacing: 8px;
  margin-bottom: 20px;
  background: transparent;
  position: relative;
  animation: text 2.5s 1;


}


.hero-title {
  font-weight: 1000;
  font-size: 12vw;
  color: white;

  background:     url(/images/animatie/text.jpg) repeat;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;

}
.hero-subtitle {
  font-size: 6vw;
  color: #2b5622;
  font-weight: 1500;

}
@keyframes text {
  0%{
    color: black;
    margin-bottom: -40px;
  }
  30%{
    letter-spacing: 25px;
    margin-bottom: -40px;
  }
}


.arrow-circle {
  position: absolute;
  top: 70vh;
  left: 50%;
  transform: translateX(-50%);
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: Transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;

}


/*---------------------------------------
  ABOUT SECTION
-----------------------------------------*/


.img-fluid {
  transition: transform 0.2s; /* Animatie */
}

.img-fluid:hover {
  transform: scale(1.1); /* Vergroot de afbeelding */
}


#section_2{
  position: relative;
  top: 100vh;
  padding-top: 50px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  z-index: 2;
}

.pulsediv{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 4;
  padding: 30px;
}

.pulse-button {

  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 100px;
  font-size: 1.3em;
  text-align: center;
  line-height: 100px;
  letter-spacing: -1px;
  border-radius: var(--border-radius-large);
  color: white;
  border: none;
  background: #2b5622;
  cursor: pointer;
  box-shadow: 0 0 0 0 rgb(96, 143, 87);
  animation: pulse 1.5s infinite;
}

.pulse-button:hover {
  animation: none;
}

@media screen and (max-width: 600px) {

  .pulsediv {
    padding: 10px;
  }

  #section_2{
    padding: 10px;
    padding-top: 40px;
    border-top-left-radius: 70px;
    border-top-right-radius: 70px;

  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }
  70% {
    transform: scale(1);
    box-shadow: 0 0 0 50px rgba(90, 153, 212, 0);
  }
  100% {
    transform: scale(0.9);
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
  }
}

/*---------------------------------------
  timeline BLOCK
-----------------------------------------*/




.main-timeline-2 {
  position: relative;

}

/* The actual timeline (the vertical ruler) */
.main-timeline-2::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: #295e15;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.card-img-top {
  width: 100%;
    height: 15vw;
    object-fit: cover;
}


/* Container around content */
.timeline-2 {
  position: relative;
  background-color: inherit;
  width: 50%;
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.5s ease-out;
  z-index: 1;
}

.timeline-2.animate {
  opacity: 1;
  transform: translateY(0);
}

/* The circles on the timeline */
.timeline-2::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -11px;
  background-color: #295e15;
  top: 15px;
  border-radius: 50%;
  z-index: 2;
}

/* Place the container to the left */
.left-2 {
  padding: 0px 40px 20px 0px;
  left: 0;
}

/* Place the container to the right */
.right-2 {
  padding: 0px 0px 20px 40px;
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  right: 30px;
  border: medium solid #295e15;
  border-width: 10px 0 10px 10px;
  border-color:transparent #295e15;
}

/* Add arrows to the right container (pointing left) */
.right-2::before {
  content: " ";
  position: absolute;
  top: 18px;
  z-index: 1;
  left: 30px;
  border: medium solid #295e15;
  border-width: 10px 10px 10px 0;
  border-color: transparent #295e15 transparent transparent;
}

/* Fix the circle for containers on the right side */
.right-2::after {
  left: -14px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
  /* Place the timelime to the left */
  .main-timeline-2::after {
    left: 31px;
  }

  /* Full-width containers */
  .timeline-2 {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    background-color: inherit;
  }

  /* Make sure that all arrows are pointing leftwards */
  .timeline-2::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot */
  .left-2::after,
  .right-2::after {
    left: 18px;
  }

  .left-2::before {
    right: auto;
  }

  /* Make all right containers behave like the left ones */
  .right-2 {
    left: 0%;
  }
}
/*---------------------------------------
  DONATE pagina
-----------------------------------------*/

#confirmation {
  background-color: white;
  border-radius: 10px;
  display: none; /* Verberg de pop-up standaard */
  position: fixed; /* Positie vastzetten op het scherm */
  top: 50%; /* Centreren op de verticale as */
  left: 50%; /* Centreren op de horizontale as */
  transform: translate(-50%, -50%); /* Nauwkeurige centrering */
  z-index: 1000; /* Zorg ervoor dat de pop-up boven andere elementen staat */

}


#confirmation .content {
  display: flex; /* Zet de display op flex */
  flex-direction: column; /* Zet de flex richting op kolom */
  justify-content: center;
  align-items: center; /* Centreer de inhoud verticaal */
  height: 100%; /* Zorg ervoor dat de inhoud de volledige hoogte van de pop-up inneemt */
  padding: 20px; /* Voeg wat ruimte toe rondom de inhoud */
}

@media screen and (max-width: 480px) {
  #confirmation {
    width: 90%; /* Zet de breedte op 90% voor schermen kleiner dan 480px */
  }
}


.button {
  text-decoration: none;
  background-color: #FF8566;
  margin-bottom: 33px;
  border: 5px solid #000000; /* Voeg een omranding toe */
  border-radius: 50px 50px 50px 50px;
  padding: 10px 40px;
}

.button:hover {
  /* Change the background color */
  background-color: #1a2a56;

  /* Add a shadow effect */
  -webkit-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 4px 6px 0px rgba(0,0,0,0.1);
}

.close-button {
  position: absolute; /* Zet de positie op absoluut */
  top: 0; /* Zet de afstand van de bovenkant */
  left: 0; /* Zet de afstand van de linkerkant */
  transition: all 0.5s ease;
  background-color: #FF9980;
  padding: 1.5px 7px;
  text-decoration: none;

  border-radius: 50%;
  border: 2px solid #fff;
  color: white;
}

.close-button:hover {
  background-color: tomato;
  color: #fff;
}

.donate-section {
  background-image: url('../images/scouts/6.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-top: 150px;
  padding-bottom: 150px;
}

.donate-form {
  background: var(--white-color);
  border-radius: var(--border-radius-medium);
  position: relative;
  overflow: hidden;
  padding: 50px;
}

.custom-form .form-control,
.input-group-file {
  background-color: var(--section-bg-color);
  box-shadow: none;
  border: 0;
  color: var(--p-color);
  margin-bottom: 24px;
  padding-top: 13px;
  padding-bottom: 13px;
  outline: none;
}

.custom-form .form-control:hover,
.custom-form .form-control:focus {
  border-color: var(--secondary-color);
}

.custom-form label {
  margin-bottom: 10px;
}

.custom-form .form-check-group {
  margin-bottom: 20px;
}


.form-check-group-donation-frequency .form-check-label {
  font-weight: var(--font-weight-semibold);
}

.custom-form .form-check-radio {
  position: relative;
  height: 100%;
  padding-left: 0;
}

.custom-form .input-group-text {
  background: var(--secondary-color);
  border: 0;
  color: var(--white-color);
}

.custom-form .form-check-radio .form-check-label {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.form-check-radio .form-check-input[type=radio] {
  background-color: var(--section-bg-color);
  border-radius: .25rem;
  border: 0;
  box-shadow: none;
  outline: none;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  padding: 25px 50px;
  transition: all 0.5s;
}

.form-check-radio .form-check-input:checked[type=radio] {
  background-image: none;
}

.form-check-radio .form-check-input:checked[type=radio] + .form-check-label,
.form-check-radio .form-check-input:hover + .form-check-label,
.form-check-radio .form-check-input:checked + .form-check-label {
  color: var(--white-color);
}

.form-check-radio .form-check-input:hover,
.form-check-radio .form-check-input:checked {
  background-color: var(--secondary-color);
  border-color: var(--white-color);
}


.input-group-file .input-group-text {
  background: transparent;
  color: inherit;
  margin-bottom: 0;
  padding: 0;
}

.custom-form button[type="submit"] {
  background: var(--custom-btn-bg-color);
  border: none;
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--p-font-size);
  font-weight: var(--font-weight-semibold);
  transition: all 0.3s;
  margin-bottom: 0;
}

.custom-form button[type="submit"]:hover,
.custom-form button[type="submit"]:focus {
  background: var(--custom-btn-bg-hover-color);
  border-color: transparent;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.naamTabel{
  padding: 10px;
  gap: 20px;
  width: 500px;
}


.rwd-table {
  background: #646464;
  color: #fff;
  border-radius: .4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
  margin-top: 10px;
}

.rwd-table tr {
  border-color: #354A5F; /* 10% lichter dan #34495E */
  font-weight: bold;
  font-size: large;

}

.rwd-table th, .rwd-table td {
  margin: 10px 40px;
  font-weight: bold;
  font-size: large;
  padding: 1em;
}


@media (min-width: 600px) { /* Vervang 600px door uw gewenste breakpoint */
  .rwd-table th, .rwd-table td {
    padding: 1em !important;
    width: auto;


  }
}

.rwd-table th, .rwd-table td:before {
  color: #2b5622;
}



/*---------------------------------------
  naam selectie js
-----------------------------------------*/

.selected-name {
  border: 1px solid #000; /* Voeg een rand toe rond de geselecteerde naam */
  padding: 5px; /* Voeg wat ruimte toe binnen de rand */
  margin: 5px; /* Voeg wat ruimte toe buiten de rand */
  display: inline-block; /* Zorg ervoor dat de naam en het kruisje op dezelfde regel blijven */
}

.cross {
  margin-left: 5px; /* Voeg wat ruimte toe tussen de naam en het kruisje */
  cursor: pointer; /* Verander de cursor naar een handje wanneer u over het kruisje beweegt */
}

.cross:hover {
  color: red; /* Verander de kleur van het kruisje naar rood wanneer u eroverheen beweegt */
}

#page-wrapper {
  width: 640px;
  background: #FFFFFF;
  padding: 1em;
  margin: 1em auto;
  border-top: 5px solid #69c773;
  box-shadow: 0 2px 10px rgba(0,0,0,0.8);
}

h1 {
  margin-top: 0;
}

label {
  display: block;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #999999;
}

input {
  width: 100%;
  padding: 0.5em 0.5em;
  font-size: 1.2em;
  border-radius: 3px;
  border: 1px solid #D9D9D9;
}

button {
  display: inline-block;
  border-radius: 3px;
  border: none;
  font-size: 0.9rem;
  padding: 0.5rem 0.8em;
  background: #69c773;
  border-bottom: 1px solid #498b50;
  color: white;
  -webkit-font-smoothing: antialiased;
  font-weight: bold;
  margin: 0;
  width: 100%;
  text-align: center;
}

button:hover, button:focus {
  opacity: 0.75;
  cursor: pointer;
}

button:active {
  opacity: 1;
  box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}


/*---------------------------------------
  CONTACT SEARCH & DONATE & SUBCRIBE FORM
-----------------------------------------*/


.donate-form .form-control {
  margin-bottom: 0;
}

/*---------------------------------------
  images.animatie
-----------------------------------------*/
.rechtsanimatie{
  opacity: 0;
  transform: translatex(-20px);
  transition: all 0.5s ease-out;
}

.rechtsanimatie.animate{
  opacity: 1;
  transform: translatex(0);
}

.linksanimatie{
  opacity: 0;
  transform: translatex(20px);
  transition: all 0.5s ease-out;
}

.linksanimatie.animate{
  opacity: 1;
  transform: translatex(0);
}
/*---------------------------------------
  RESPONSIVE STYLES
-----------------------------------------*/

@media screen and (max-width: 991px) {
  h1 {
    font-size: 42px;
  }

  h2 {
    font-size: 36px;
  }

  h3 {
    font-size: 32px;
  }

  h4 {
    font-size: 28px;
  }

  h5 {
    font-size: 20px;
  }

  h6 {
    font-size: 18px;
  }

  .section-padding {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 15px;
  }

  .donate-form {
    padding: 35px;
  }

  .cta-section .row {
    padding-top: 50px;
    padding-bottom: 50px;

  }


}




@media screen and (max-width: 480px) {
  h1 {
    font-size: 40px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 26px;
  }

  h4 {
    font-size: 22px;
  }

  h5 {
    font-size: 20px;
  }
  .donate-form {
    padding: 25px;
  }
}
